@import '~/node_modules/normalize.css/normalize.css';
@import 'variables';

@import 'menu';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
//Variables





//Utliity Classes
.w-full{
    width:100%;
}
.text-red{
    color:$primary;
}
.block{
    display:block;
}
//Globals
a{
    text-decoration:none;
    color:inherit;
}
ul{
    list-style:none;
    margin:0;
    padding:0;
}
.container-fluid{
    max-width:88%;
    margin:0 auto;

}
html{
    height:100%;
    overflow-y: auto;

}
body{
    height:100vh;
  overflow-y: auto;

}

@media only screen and (min-width:768px) {

    .container-fluid{
        max-width:85%;
    }
    
}

//Css Starts

.loader{
    position:fixed;
    background:rgb(229, 36, 36,1);
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    z-index:100;
    display:flex;
    place-content:center;
    svg{
      width:35%;
    }
    }