
.overlay-menu{
    display:none;
    position:fixed;
    background:#B6B6B6;
    width:100%;
    overflow:hidden;
    transform:translateY(-100%);
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:20;
      .menu-grid{
          display:grid;
          grid-template-columns:repeat(16,1fr);
          grid-template-rows:repeat(16,1fr);
          height:100vh;
      }
      .img1{
          overflow:hidden;
          grid-row:1 / 7;
          grid-column:7 / 17;
          z-index:3;
          position:relative;
          &:after{
            content:'';
            position:absolute;
            background:#B6B6B6;
            width:100%;
            height:100%;
            top:0;
            left:0;
            right:0;
            bottom:0;
            transform-origin:center top;
        
          }
            img{
              transform:scale(1.2);
              height:100%;
              object-fit:cover;
          }
      }
      .img2{
          grid-row:5 / 17;
          grid-column:1 / 17;
          z-index:-1;
          z-index:1;
          overflow:hidden;
          position:relative;
          img{
              height:100%;
              width:100%;
              object-fit:cover;
              object-position:center center;
            //   object-position:15% 0;
          }
          &:after{
            content:'';
            position:absolute;
            background:#B6B6B6;
            width:100%;
            height:100%;
            top:0;
            left:0;
            right:0;
            bottom:0;
            transform-origin:center top;
        
          }
      }
      .menu-redbox{
            background:rgb(229, 36, 36,1);
            mix-blend-mode:multiply;
            grid-row:5 / 8;
            grid-column:5 / 17;
            z-index:2;

      }
      .menu-redbox2{
          background:rgb(229, 36, 36,1);
          mix-blend-mode:multiply;
          display:none;
      }
      .menu-text{
          color:#fff;
          font-weight:600;
          grid-row:1 / 2;
          align-self:end;
          margin-bottom:10%;
          grid-column:4 / 5;
      }
      .menu-links{
          width:100%;
          max-width:$container-mob;
          margin:0 auto;
          grid-row:9 / 16;
          grid-column:1 / 17;
          z-index:4;
          ul{
              height:100%;
              display:flex;
              flex-direction:column;
              justify-content:space-between;
              align-items:space-between;
              li{
                  display:grid;
                  grid-template-columns:auto 1fr;
                  color:$primary;
                  font-size:calc(5vw + 1.5rem);
                  font-weight:600;
                  a{
                      margin-left:15%;
                  }
                  section{
                      display:flex;
                      align-items:center;
                      
                      .num{
                          font-size:1rem;
                      }
                      .arrow{
                          display:flex;
                          align-items:center;
                          margin-left:15%;
                          svg{
                              display:inline;
                              width:20vw;
                          }
                         
                        //   margin-left:.5rem;
                          
                      }
                   
                  }
             
              }
              li.active{
                  color:#fff;
                  a{
                    //   margin-left:23%;
                      span{
                      clip-path: polygon(0 0, 80% 0%, 100% 100%, 20% 100%);
                      }
                  }
                  .arrow{
                    //   margin:0rem 2rem;
                    // transform-origin:center left;
                    // transform:scaleX(2);
                      svg{
                          width:30vw;
                      color:#fff;
                      }
                  }
              }
          }
      }

}
    .header-container{
        header{
                    z-index:22;
        }
    }




    @media only screen and (min-width:1024px){
        .header-container{
            header{
                padding-top:3rem;
            }
        }
        .overlay-menu{
            .img1{
                grid-column:8 / 15;
                grid-row:1 / 6;
                img{
                    object-position:center bottom;
                }
            }
            .menu-redbox2{
                display:block;
                grid-column:12 / 17;
                grid-row:1 / 4;
                z-index:3;
            }
            .menu-text{
                grid-row:2 / 3;
                align-self:start;
                // margin-top:1rem;
                margin-bottom:0;
                // margin-bottom:40%;
            }
            .menu-redbox{
                grid-column:5 / 14; 
            }
            .img2{
                grid-column:3 / 14;
            }
            .menu-links{
                ul{
                    li{
                        font-size:calc(6vw + 1.5rem);
                        section{
                            .num{
                                font-size:1.3rem;
                            }
                            .arrow{
                                margin-left:4rem;
                            }
                        }

                        &:hover{
                            color:#fff;
                            transition:.3s ease;
                            fill:#fff;
                        }

                    }
                }
            }
        }
    }
    @media only screen and (min-width:1024px) and (min-height:1300px){
        .overlay-menu{
            .menu-text{
                grid-row:1 / 2;
                align-self:end;
                margin-bottom:30%;
            }

        }
    }

    @media only screen and (min-width:1280px){
      
        .overlay-menu{
            .img1{
                grid-column:11 / 15;
                grid-row:1 / 10;
            }
            .menu-redbox2{
                grid-column:13 / 17;
            }
            .menu-redbox{
                grid-column:10 / 14;
                margin-right:7.5%;
                grid-row:4 / 12;
            }
            .img2{
                grid-column:6  / 13;
                grid-row:4 / 17;
                margin-left:10%;

                img{
                }
            }
            .menu-links{
                grid-row:6 / 16;
                ul{
                    li{
                        font-size:calc(7vw - 1.5rem);
                         a{
                             margin-left:4%;
                         }
                        section{
                            .arrow{
                                svg{
                                    width:10vw;
                                }
                            }
                        }
                    }
                    li.active{
                        section{
                            .arrow{
                                svg{
                                    width:20vw;
                                }
                            }
                        }
                    }
                }
            }
            // .img2{
            //     grid-column:
            // }
        }
    

    }

    @media only screen and (min-width:1800px){
   
        .overlay-menu{
                .menu-redbox2{
                    grid-row:1 / 5;
                }
                .menu-links{
                max-width:$container-large;
                }
                .menu-text{
                    font-size:2rem;
                    grid-column:7 / 10;
                    grid-row:2 / 3;
                }
                .menu-redbox{
                    grid-column:10 / 13;
                    grid-row:3 / 12;
                    margin-top:4.5%;
                    margin-right:0;

                }
                .img2{
                    grid-row:3 / 17;
                    grid-column:6 / 13;
                    margin-top:2%;
                    margin-left:13%;
                    img{
                        margin-left:0;
                    }
                }
        }
    }